:root{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
}

html, body, * { padding: 0; margin: 0; }

body {
    height: 100vh;
    display: flex;        
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-wrap: nowrap;
}

h2 {
    text-align: center;
    font-size: 1em;
    color: #505050;
    margin-bottom: 5px;
}

section {
    margin: 15px;
}


